@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicación le permitirá realizar todos los procesos de guardado de las bebidas fabricadas por usted.</p>
