@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Barcelona<br />
    Quindío, 2017<br />
    <abbr title="Phone">Teléfono:</abbr>
    313 660 7985
</address>

<address>
    <strong>Soporte:</strong>   <a href="">soporte@bebidaseam.com</a><br />
   
</address>